<!DOCTYPE html>

<html lang="en">

	<head>

		<title>

			ddan9 | TODO

		</title>

		<meta name="description" content="TODO List Application">

		<meta name="keywords" content="Todo, TODO, List, TODO List, Web, Vue, Materialize">

		<meta name="author" content="ddan9">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="color-scheme" content="light">

		<meta name="theme-color" content="teal">

		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<meta http-equiv="cache-control" content="private, max-age=3155760000">

		<meta http-equiv="pragma" content="private">

		<meta http-equiv="expires" content="Sun, 01 Jan 2122 00:00:01 GMT">

		<link rel="icon" type="image/png" href="https://img.icons8.com/stickers/100/000000/task.png">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">

		</script>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js">

		</script>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.7.0">

		</script>

		<style>

			body

			{

				display: flex;

				min-height: 100vh;

				flex-direction: column;

			}

			main

			{

				flex: 1 0 auto;

			}

			div.app

			{

				display: flex;

				min-height: 100vh;

				flex-direction: column;

			}

		</style>

	</head>

	<body>

		<div class="app" id="app">

			<custom-navbar v-bind:search="search" v-bind:reload="reload">

			</custom-navbar>

			<main>

				<task-header v-bind:todos="this.todos" v-bind:date="dateNow" v-bind:fullname="fullName">

				</task-header>

				<form-task v-bind:addtask="addTask" v-bind:todos="this.todos" v-bind:clear="clear">

				</form-task>

				<task-list v-bind:todos="this.todos" v-bind:removetask="removeTask">

				</task-list>

			</main>

			<custom-footer v-bind:checkconnection="checkConnection" v-bind:todos="this.todos" v-bind:date="dateNow">

			</custom-footer>

		</div>

		<script>

			"use strict"

			Vue.component("custom-navbar", {

				props: {

					search: Function,

					reload: Function

				},

				template: `

					<div class="navbar-fixed">

						<nav class="teal darken-1" role="navigation">

							<div class="nav-wrapper container">

								<a v-on:click="reload" href="#!" class="brand-logo left">

									<i class="material-icons">

										task

									</i>

									TODO

								</a>

								<ul class="right">

									<li>

										<a v-on:click="search" href="#!">

											<i class="material-icons">

												search

											</i>

										</a>

									</li>

									<li>

										<a v-on:click="reload" href="#!">

											<i class="material-icons">

												settings

											</i>

										</a>

									</li>

								</ul>

							</div>

						</nav>

					</div>

				`

			})

			Vue.component("task-header", {

				props: {

					todos: Array,

					date: String,

					fullname: String,

				},

				template: `

					<ul class="collection with-header">

						<li class="collection-header">

							<h5>

								Hello, {{ fullname }}

							</h5>

							<h6>

								Today: {{ date }}

							</h6>

							<h6>

								Tasks: {{ todos.length }}

							</h6>

						</li>

					</ul>

				`

			})

			Vue.component("task-list", {

				props: {

					todos: Array,

					removetask: Function

				},

				template: `

					<ul class="collection with-header">

						<li v-for="(todo, index) in todos.slice().reverse()" class="collection-item" style="overflow: hidden; overflow-wrap: break-word; word-wrap: break-word; white-space: normal">

							<div>

								{{ todo.task }}

								<a v-on:click="removetask(index)" href="#!" class="secondary-content">

									<i class="material-icons">

										delete

									</i>

								</a>

							</div>

						</li>

					</ul>

				`

			})

			Vue.component("form-task", {

				props: {

					addtask: Function,

					todos: Array,

					clear: Function

				},

				template: `

					<div class="row">

						<form class="col s12">

							<div class="row">

								<div class="input-field col s12">

									<textarea id="textarea1" class="materialize-textarea" v-on:keydown.enter="addtask" autofocus="autofocus"></textarea>

									<label for="textarea1" autofocus="autofocus">

										New task

									</label>

								  	<button v-if="todos.length > 0" v-on:click="clear" class="btn waves-effect waves-light left" type="submit" name="action">

								  		Clean up

										<i class="material-icons right">

											delete

										</i>

									</button>

									<button v-on:click="addtask" class="btn waves-effect waves-light right" type="submit" name="action">

										Add

										<i class="material-icons right">

											add

										</i>

									</button>

								</div>

							</div>

						</form>

					</div>

				`

			})

			Vue.component("custom-footer", {

				props: {

					checkconnection: Function,

					todos: Array,

					date: String

				},

				template: `

					<footer class="teal darken-1 page-footer" style="bottom: 0; left: 0; width: 100%; ">

						<div class="container">

							<div class="row">

								<div class="col l6 s12">

									<h5 class="white-text">

										TODO List Application

									</h5>

									<p class="grey-text text-lighten-4">

										Created just while learning Web, <a class="grey-text text-lighten-3" href="https://pages.github.com" v-on:click.stop.prevent="checkconnection"> GH-Pages</a>, <a class="grey-text text-lighten-3" href="https://vuejs.org" v-on:click.stop.prevent="checkconnection"> Vue.js </a> and <a class="grey-text text-lighten-3" href="https://materializecss.com" v-on:click.stop.prevent="checkconnection"> Materialize.css</a>. This app will helps you to manage your tasks or just store your notes

									</p>

									<p v-if="todos.length < 1" class="grey-text text-lighten-4">

										You can enter your tasks here

									</p>

								</div>

								<div class="col l4 offset-l2 s12">

									<h5 class="white-text">

										Contacts

									</h5>

									<ul>
										<li>

											<a class="grey-text text-lighten-3" href="https://ddan9.github.io" v-on:click.stop.prevent="checkconnection">

												GitHub

											</a>

										</li>

										<li>

											<a class="grey-text text-lighten-3" href="https://freelance.habr.com/freelancers/r3ddan9" v-on:click.stop.prevent="checkconnection">

												Habr

											</a>

										</li>

										<li>

											<a class="grey-text text-lighten-3" href="mailto:ddan9.github@rambler.ru" v-on:click.stop.prevent="checkconnection">

												Email

											</a>

										</li>

										<li>

											<a class="grey-text text-lighten-3" href="https://t.me/ddan9_tg" v-on:click.stop.prevent="checkconnection">

												Telegram

											</a>

										</li>

									</ul>

								</div>

							</div>

						</div>

						<div class="footer-copyright">

							<div class="container center">

								<a class="grey-text text-lighten-3" href="https://ddan9.github.io/todo-app/LICENSE" v-on:click.stop.prevent="checkconnection"> © {{ new Date().getFullYear() }} Licenced by GNU GPL v3 </a>

							</div>

						</div>

					</footer>

				`

			})

			var app = new Vue({

				el: "#app",

				data: {

					firstName: "Danil",

					lastName: "Sergeevich",

					todos: [ ]

				},

				mounted() {

					if (localStorage.todos) {

						this.todos = JSON.parse(localStorage["todos"])

					}

					document.getElementById("textarea1").focus()

					document.getElementById("textarea1").select()

				},

				watch: {

					todos(TodosDB) {

						localStorage["todos"] = JSON.stringify(TodosDB)

					}

				},

				methods: {

					addTask: function() {

						event.preventDefault()

						var input = document.getElementById("textarea1").value.trim()

						if ( input != "" && input != null ) {

							this.todos.push({ task: input })

						}

						document.getElementById("textarea1").value = ""

						document.getElementById("textarea1").focus()

						document.getElementById("textarea1").select()

					},

					clear: function() {

						if ( this.todos != "" && this.todos != null) {

							this.todos = [ ]

						}

					},

					checkConnection: function() {

						if (navigator.onLine) {

							document.location.href = event.currentTarget.href

						} else {

							alert("Lost internet connection!")

						}

					},

					search: function() {

						var search = prompt("Write text for search")

						window.find(search)

					},

					reload: function() {

						if (navigator.onLine) {

							document.location.reload()

						}

					},

					removeTask: function(index) {

						this.todos.splice(index, 1)

					}

				},

				computed: {

					dateNow: function() {

						var fullDate = new Date()

						return fullDate.toLocaleDateString("ru-RU")

					},

					fullName: function() {

						return this.firstName + " " + this.lastName

					}

				},

				created: function() {

					console.log("Hello there! Seems like all is ok :) ")

				}

			})

		</script>

	</body>

</html>
